:root {
    --green-primary: #28a745;
   
    --white: #f8f9fa;
    --white-border-input-text: rgba(255, 255, 255, 0.3);
    --white-input-icon: rgba(255, 255, 255, 0.7);
    --white-placeholder: rgba(255, 255, 255, 0.5);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-45deg, #66BB6A); 
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    font-family: 'Poppins', sans-serif; 
    color: var(--white);
}



.login-title {
    font-weight: 700;
    color: var(--white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.login-card {
    padding: 2.5rem;
    background: black;
    border-radius: 1rem;
    border: 1px solid var(--white-border-input-text);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.form-label {
    color: var(--white);
    font-weight: 500;
}

.input-group-text {
    background-color: transparent;
    border: none;
    color: var(--white-input-icon);
}

.form-control {
    background-color: var(--white-card-bg);
    border: none;
    border-bottom: 2px solid var(--white-border-input-text);
    border-radius: 0;
    color: var(--white);
    transition: border-color 0.3s ease;
}

.form-control::placeholder {
    color: var(--white-placeholder);
}

.form-control:focus {
    background-color: var(--white-card-bg);
    box-shadow: none;
    border-color: var(--white);
    color: var(--white);
}

.btn-primary {
    padding: 0.75rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border: none;
    background-color: green;
    color: white;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
    background-color: green;
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.alert-danger {
    background-color: rgba(220, 53, 69, 0.7);
    border-color: rgba(220, 53, 69, 0.8);
    color: white;
}
