
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


header {
    background: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
}


.contenedor {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background: #f2f2f2;
}


footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}